/* ====================================
   VIDEO SECTION
==================================== */
.video-section {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 20 auto;
    border: 8px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ====================================
    Showtime Table
==================================== */

.showtimes {
    margin: 40px auto;
    text-align: center;
}
.showtimes table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
}

.showtimes th, 
.showtimes td {
    border: 1px solid #000;
    padding: 10px;
}
.showtimes th {
    font-size: 24px;
    font-family: "Creepster", cursive;
    }


    .midnight {
        background-color: yellow;
        font-weight: bold;
    }   

footnote {
    font-size: 12px;
}

/* ====================================
   MAILING LIST FORM
==================================== */
.mailing {
   max-width: 900px;
    margin: 40px auto;
    padding: 20px 0;
    text-align: center;
    border-top: 3px solid #000;
}

.mailing form {
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.mailing input[type="email"] {
    width: 60%;
    padding: 8px;
    margin: 0 auto;
}
.mailing button{
    width: 150px;
    padding: 8px;
    margin: 10px auto;
    cursor: pointer;
}

/* ====================================
    ICON ROTATION ON HOVER
==================================== */
article img:hover {
    transform: rotate(20deg);
    transition: transform 0.3s ease-in-out;
}

/* ====================================
    Responsive Breakpoints
==================================== */

/* vertocal layout*/
@media (max-width: 670px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 550px) {
    section article {
        display: block;
        width: 100%;
        margin-bottom:20px;
        
    }   
}


    
        


    