/* ====================================
   VIDEO SECTION
==================================== */
.video-section {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 20 auto;
    border: 8px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ====================================
    Showtime Table
==================================== */

.showtimes {
    margin: 40px auto;
    text-align: center;
}
.showtimes table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
}

.showtimes th, 
.showtimes td {
    border: 1px solid #000;
    padding: 10px;
}
.showtimes th {
    font-size: 24px;
    font-family:"Creepster, cursive";
    }

    .midnight {
        background-color: yellow;
        font-weight: bold;
    }   

footnote {
    font-size: 12px;
}